<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".business_driver.DriverApplication">

        <activity
            android:name="com.example.truckercore.business_driver.view.activities.MainActivity"
            android:exported="true"

            />
    </application>
</manifest>