<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application android:name=".business_admin.AdminApplication" >
        <activity
            android:name=".business_admin.view.activities.MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.TruckerCore.NoActionBar" />
        <activity
            android:name=".business_admin.view.activities.MainActivity"
            android:exported="false" />
    </application>

</manifest>